$rf-size: 16px;
$main-color: #0e2430;
$main-bg-color: rgb(2, 178, 238);
$dark-blue: rgba(6, 8, 178, 1);
$bar-principal-color: rgba(2, 178, 238, 1);
$bar-interest-color: rgba(6, 214, 160, 1);
$animation-timing: 0.45, 0, 0.55, 1;
$z-index: 20;
