@import "../_variables/variables";
@import "../_mixins/mixins";

$underlay-color: rgba(11, 31, 53, 1);

.payments {

  &__modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    min-height: 100vh;
    overflow-y: auto;
    overscroll-behavior-y: contain;

    &_inner {
      position: relative;
      margin: 2rem auto;
      max-width: 45vw;
    }

    &_bg {
      position: relative;
      width: 100%;
      padding: 3rem 4rem;
      background: #ffffff;
      box-shadow: 24px 16px 31px -4px rgba(0, 11, 41, 0.06), 0px 0px 16px rgba(0, 11, 41, 0.03);
      border-radius: 8px;
    }
  }

  &__underlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $underlay-color;
    opacity: 0.4;
  }

  &__title {
    margin-bottom: 40px;
    font: {
      size: setFontSizeRem($rf-size, 24);
      weight: 700;
    };
    line-height: 36px;
    text-align: left;
  }

  &__details {
    width: auto;
    border-collapse: unset;
    border-color: inherit;
    table-layout: fixed;
    color: $main-color;
    border-spacing: 1px;
    margin-bottom: 40px;
    background-color: #f9fafb;
    border-radius: 4px;

    & > tbody {
      vertical-align: middle;
      background-color: #f9fafb;
    }

    & td {
      font: {
        size: setFontSizeRem($rf-size, 14);
      };
      line-height: 1.25rem;
      text-align: left;
      white-space: nowrap;
    }
  }

  &__point-wrapper {

    &:nth-child(1) {
      & td {
        padding-top: 1.5rem;
      }
    }

    &:nth-child(4) {
      & td {
        padding-bottom: 1.5rem;
      }
    }
  }

  &__term {
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    min-width: 15rem;
    color: #6b7280;
    font: {
      weight: 400;
    };
  }

  &__definition {
    padding: 0.5rem 1rem 0.5rem 0.5rem;
    font: {
      weight: 600;
    };
  }

  &__row {
    position: absolute;
    width: 100%;
    right: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: auto;

    &_close {
      top: 0;
      justify-content: flex-end;

      & > .modal__icon_mobile {
        display: none;
      }

      & > .modal__icon_desktop {
        display: flex;
      }
    }

    &_up {
      bottom: 0;
      justify-content: flex-end;

      & > .modal__icon_mobile {
        display: none;
      }

      & > .modal__icon_desktop {
        display: flex;
      }
    }
  }

  &__content {
    position: relative;
    top: 40px;
    height: 100%;
    overflow-y: visible;
  }

  &__icon {
    width: 18px;
    height: 18px;
    z-index: $z-index * 20;
    cursor: pointer;

  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    margin-bottom: 12px;
    margin-top: 12px;
    margin-right: 12px;
    border: 0;
    background-color: transparent;

    &_download {
      display: none;
      border: 2px solid $main-color;
      border-radius: 2px;
    }

    &_up {
      border: 2px solid $main-color;
      border-radius: 2px;

      & .payments__icon_up{
        stroke: $main-color
      }
    }
  }

  &__table {
    width: 100%;
    border-collapse: collapse;
    border-color: inherit;
    table-layout: fixed;
    color: $main-color;
  }

  &__t-header {
    border-collapse: collapse;

    &-cell {
      padding: 1rem;
      font: {
        size: setFontSizeRem($rf-size, 14);
        weight: 600;
      };
      line-height: 20px;
      text-align: left;
      letter-spacing: 0.5px;
    }
  }

  &__t-body {
    background-color: #fff;

    &-cell {
      padding: 1rem 1rem 1.5rem;
      font: {
        size: setFontSizeRem($rf-size, 14);
        weight: 400;
      };
      line-height: 20px;
      text-align: left;
      white-space: nowrap;

      &[data-id="interestPaid"] {
        color: #6b7280;
      }

      &[data-id="principal"] {
        color: #6b7280;
      }
    }
  }

  &__t-row {

    &[data-num="even"] {
      background-color: #f9fafb;
    }
  }

}